# Dependency directories
node_modules/

# Build output
.next/
out/

# Production
*.log
*.env
*.env.*.local

# Local environment
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln

# macOS
.DS_Store

# Linux
*.swp
*.swo

# Windows
Thumbs.db
